:root {
  --text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #ffffff;
  --hero-text-color: #ffffff;
  --hero-background-color: #2f303a;
  --accent-color: #2196f3;
  --second-accent-color: #188ce8;
  --promo-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-accent {
  color: var(--text-color);
}

.button {
  cursor: pointer;
}

/* -----------------HEADER----------------- */

.header-nav .link.current {
  color: var(--accent-color);
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.connection-mail,
.connection-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.connection-mail:hover,
.connection-mail:focus {
  color: var(--accent-color);
}
.connection-tel:hover,
.connection-tel:focus {
  color: var(--accent-color);
}

/* ------------------HERO-------------------- */

/* .container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid tomato;
} */

.hero-title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--hero-text-color);
  background: var(--hero-background-color);
}

.hero-btn {
  display: inline-block;
  padding: 10px 32px;
  text-decoration: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  color: var(--hero-text-color);
  background-color: var(--accent-color);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--second-accent-color);
}

.hero-features {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color);
}

.hero-bottom-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

/* ------------------PROMO-------------------- */

.promo-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* ------------------ABOUT------------------- */

.about {
  background-color: var(--promo-background-color);
}

.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.about-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.about-bottom-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

/* ------------------FOOTER------------------- */

.footer {
  background: var(--footer-background-color);
}

.logo-footer {
  color: var(--hero-text-color);
}

/* ------------------CONTACTS------------------- */

.footer-address {
  font-style: normal;
}

.footer-mail,
.footer-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-link-adress:hover,
.footer-link-adress:focus {
  color: var(--accent-color);
}

.footer-mail:hover,
.footer-mail:focus {
  color: var(--accent-color);
}

.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

.footer-link-adress {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}

/* ------------------PORTFOLIO------------------- */

/* ------------------CATEGORY------------------- */

.category-btn {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  background-color: var(--promo-background-color);
}

.category-btn:hover,
.category-btn:focus {
  color: var(--third-text-color);
  background-color: var(--accent-color);
}

/* ------------------PROJEKT------------------- */

.projekt-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
}

.projekt-bottom-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

/* :root{
--text-color:#212121;
--second-text-color:#757575;
--third-text-color:#FFFFFF;
--hero-text-color:#FFFFFF;
--hero-background-color:#2F303A;
--accent-color:#2196F3;
--second-accent-color:#188CE8;
--promo-background-color:#F5F4FA;
--footer-background-color:#2F303A;
 */
